.review-single-container{
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.review-content{
    padding: 1em;
}

.rating-container{
    text-align: left;
    margin-bottom: 1em;
}

.rating-h2{
    top: 0;
    left: 0;
    margin: 0;
    font-size: 0.8em;
    font-weight: lighter;
}

.comment-container{
    text-align: left;
}

.comment-h3{
    margin: 0;
    font-size: 1.2em;
    font-style: normal;
}