:root {
    --accent: #d8655c;
    --dark: #2e343a;
    --backdrop: #f2f0ee;
}

.container{
    margin: 1.5em;
    padding: 5em 2em;
    text-align: center;
    background: var(--backdrop);
    transform: translateY(-100px);
}

.image-container{
    width: 80%;
    margin-top: 3em;
}

.title{
    font-weight: bold;
    font-size: 3.4em;
    color: var(--dark);
}

.price-from{
    font-size: 1.8em;
    color: var(--accent);
}

.cta-buy{
    background-color: var(--accent);
    color: white;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1.2em;
    border-radius: 5em;
    display: inline-block;
}

@media screen and (min-width: 920px) {

    .container{
        width: 920px;
        margin: 1.5em auto;
        padding: 10em 2em;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .left-col{
        margin: 3em 3em 0 5em;
    }

    .image-container{
        width: 50%;
        margin-right: 5em;
    }

    .title{
        font-size: 4em;
    }
}