:root {
    --footer-dark: #3e4450;
    --footer-darker: #2a2d32;
}

.footer-container {
    background: var(--footer-dark);
    display: flex;
    height: 100px;
}

.credits-container {
    background: var(--footer-darker);
    padding: 1.2em 1.4em 1.2em 1.4em;
    display: flex;
    place-content: space-between;
    position: relative;
    font-size: 0.9em;
    font-family: var(--menlo-altfont);
}

.text {
    color: white;
}