:root {
    --accent: #d8655c;
    --dark: #2e343a;
}

body {
    background: white;
    margin: 0;
    font-family: SF Mono;
}

.banner-container {
    background: var(--accent);
    padding: 1em;
    color: white;
    text-align: center;
}

.navbar {
    padding: 1em;
}

.navbar-container {
    display: flex;
    place-content: space-between;
    position: relative;
    z-index: 15;
}

.navbar-menu {
    cursor: pointer;
    height: 1.4em;
}

.navbar-logo {
    text-decoration: none;
    font-weight: bold;
    color: var(--dark);
    font-size: 2.2em;
}

.navbar-cart,
.navbar-account {
    cursor: pointer;
    height: 1.6em;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

.nav-item {
    display: none;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2em;
}