.card-container {
    transition: 0.3s;
    margin-bottom: 1em;
    background: white;
    display: flex;
    flex-direction:column; 
    justify-content:space-between;
}

.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.card-row-image {
    padding: 0;
    text-align: center;
}

.card-row {
    padding: 0;
    text-align: left;
}

.card-image {
    max-width: 300px;
    max-height: 400px;
    object-fit: contain;
}

.card-text {
    padding: 0.6em;
    background: var(--accent);
    font-family: var(--menlo-altfont);
    color: white;
}