.card-container {
    transition: 0.3s;
    margin-bottom: 1em;
    background: white;
}

.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-bottom {
    padding: 0;
    text-align: left;
}

.card-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card-text {
    padding: 0.6em;
    background: var(--accent);
    font-family: var(--menlo-altfont);
    color: white;
}