:root {
    --accent: #d8665c;
    --accent-dark: #cb463c;
    --dark: #404752;
    --menlo-altfont: 'Courier New', Courier, monospace;
    --daytona-altfont: Arial, Helvetica, sans-serif;
}

body {
    background: white;
    margin: 0;
}

.banner-container {
    background: var(--accent);
    padding: 1em;
    color: white;
    text-align: center;
    font-family: var(--menlo-altfont);
}

.navbar {
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.navbar-container {
    display: flex;
    place-content: space-between;
    position: relative;
    z-index: 10;
}

.menu-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-icon {
    height: 1.4em;
    padding-right: 0.4em;
}

.menu-icon-text {
    display: none;
}

.navbar-logo {
    text-decoration: none;
    font-weight: bold;
    color: var(--dark);
    font-size: 2em;
}

.nav-right {
    display: flex;
    align-items: center;
}

.account-icon {
    cursor: pointer;
    padding-top: 0.3em;
}

.cart-icon {
    cursor: pointer;
    margin-left: 0.6em;
}

.nav-menu {
    background: var(--accent-dark);
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 20;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-item {
    padding: 0.4em 1em 0.4em 1em;
    list-style: none;
    text-align: left;
    width: 8em;
    justify-content: start;
    font-size: 1.5em;
    transform: translateX(-20px);
}

.nav-item:hover {
    background: var(--accent);
    border-radius: 1em;
}

.menu-close {
    padding: 1em 0 1em 0;
    list-style: none;
    justify-content: start;
    transform: translateX(-20px);
    cursor: pointer;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-family: var(--daytona-altfont);
    display: flex;
}

.nav-cart {
    background: var(--dark);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 25em;
    z-index: 20;
    right: -100%;
    transition: 850ms;
}

.nav-cart.active {
    right: 0;
    transition: 350ms;
}

.cart-container {
    margin: 0 2em 0 2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2em solid;
    border-color: white;
}

.your-cart-h2 {
    right: 0;
    top: 0;
    color: white;
    font-size: 1.6em;
}

.cart-close-icon {
    display: block;
    margin: 1.6em 0 0 0;
    cursor: pointer;
}

.cart-top {}

.cart-items{
    height: 38em;
    overflow: scroll;
}

.cart-bottom {
    border-top: 0.2em white solid;
}

.cart-none {
    display: none;
}

.subtotal {
    display: flex;
    justify-content: space-between;
}

.subtotal-h2 {
    top: 0;
    right: 0;
    color: white;
    font-size: 1.4em;
    margin: 0.8em 0 0.4em 0;
}

.cart-h3 {
    font-size: 1em;
    color: var(--accent);
    margin: 0.4em 0 1.2em 0;
}

.cart-h3-empty {
    margin: 1.2em 0 1.2em 0;
    font-size: 1.4em;
    color: var(--accent);
}

.check-out-button {
    width: 100%;
    padding: 0.6em 0 0.6em 0;
    background: var(--accent);
    border-radius: 0.3em;
    color: white;
    text-align: center;
    font-family: var(--daytona-altfont);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4em;
    margin-bottom: 0.3em;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

@media screen and (min-width: 1080px) {
    .banner-container {
        padding: 1em 3em 1em 3em;
    }

    .navbar {
        padding-right: 2.6em;
        padding-left: 2.6em;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .menu-icon-text {
        font-weight: bold;
        font-family: var(--daytona-altfont);
        display: flex;
        color: var(--dark);
    }
}